*{
    margin:0;
    padding:0;

}
body{
    font-family:Arial;
   
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#000));

    /* Safari 5.1, Chrome 10+ */ 
    background: -webkit-linear-gradient(top, #fff, #000);

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #fff, #000);

    /* IE 10 */
    background: -ms-linear-gradient(top, #fff, #000);

    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #fff, #000);
    
    

}

a {
    color: #363636;
}
a.back{
    background:transparent url(back.png) no-repeat 0px 0px;
    position:absolute;
    width:150px;
    height:27px;
    outline:none;
    top:2px;
    right:0px;
}
.reference{
    margin:20px auto;
    width:600px;
    padding:20px;
}
.reference p a{
    text-transform:uppercase;
    text-shadow:1px 1px 1px #fff;
    color:#666;
    text-decoration:none;
    font-size:10px;

}
.reference p a:hover{
    color:#333;
}